# DOCUMENTATION REQUIREMENTS
# ============================================================
# DESCRIPTION:
#   Requirements to be able to render documentation locally

# Documentation rendering dependencies
# ------------------------------------------------------------
# Project documentation with Markdown.
# https://pypi.org/project/mkdocs/
mkdocs
# A Material Design theme for MkDocs
# https://pypi.org/project/mkdocs-material/
mkdocs-material
# An MkDocs plugin to minify HTML and/or JS files prior to being written to disk
# https://pypi.org/project/mkdocs-minify-plugin/
mkdocs-minify-plugin
# Plugin for adding monorepository support in Mkdocs.
# https://pypi.org/project/mkdocs-monorepo-plugin/
mkdocs-monorepo-plugin
# A MkDocs plugin for including mermaid graphs in markdown sources
# https://pypi.org/project/mkdocs-mermaid2-plugin/
mkdocs-mermaid2-plugin
# Mkdocs plugin that enables displaying the localized date of the last git
# modification of a markdown file.
# https://pypi.org/project/mkdocs-git-revision-date-localized-plugin/
mkdocs-git-revision-date-localized-plugin
# MkDocs plugin to allow clickable sections that lead to an index page
# https://pypi.org/project/mkdocs-section-index/
mkdocs-section-index
# Automatic documentation from sources, for MkDocs.
# https://pypi.org/project/mkdocstrings/
mkdocstrings
# This is an extension to Python-Markdown which provides an "include" function.
# https://pypi.org/project/markdown-include/
markdown-include
# Unleash the power of MkDocs with macros and variables
# https://pypi.org/project/mkdocs-macros-plugin/
mkdocs-macros-plugin
# Markdown extension to wrap images in a lightbox.
# https://github.com/g-provost/lightgallery-markdown
git+https://github.com/g-provost/lightgallery-markdown
